<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>TNT4J-Stream-JMX-WAS</display-name>

    <!-- Change to "Production" when you are ready to deploy -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>StreamJmx</servlet-name>
        <servlet-class>com.jkoolcloud.tnt4j.stream.jmx.servlet.StreamJMXServlet</servlet-class>
        <load-on-startup>1</load-on-startup>

        <init-param>
            <param-name>com.jkoolcloud.tnt4j.stream.jmx.agent.vm</param-name>
            <param-value></param-value>
            <description>Sampled JVM descriptor: part of local process name/pid or RMI service URL</description>
        </init-param>
        <init-param>
            <param-name>com.jkoolcloud.tnt4j.stream.jmx.agent.options</param-name>
            <param-value>WebSphere:name=JVM,*;WebSphere:name=isclite*,*!!60000!0</param-value>
            <description>Sampler options separated by '!': include_pattern!exclude_pattern!sampling_rate_ms!initial_sampler_delay_ms
            </description>
        </init-param>
        <init-param>
            <param-name>com.jkoolcloud.tnt4j.stream.jmx.tnt4j.out.host</param-name>
            <param-value>localhost</param-value>
            <description>Sampler tracking logger socket event sink host</description>
        </init-param>
        <init-param>
            <param-name>com.jkoolcloud.tnt4j.stream.jmx.tnt4j.out.port</param-name>
            <param-value>6001</param-value>
            <description>Sampler tracking logger socket event sink port</description>
        </init-param>
        <init-param>
            <param-name>com.jkoolcloud.tnt4j.stream.jmx.agent.user</param-name>
            <param-value></param-value>
            <description>Secure JMX username</description>
        </init-param>
        <init-param>
            <param-name>com.jkoolcloud.tnt4j.stream.jmx.agent.user</param-name>
            <param-value></param-value>
            <description>Secure JMX pass</description>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>StreamJmx</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
