<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2014-2023 JKOOL, LLC.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="tnt4-stream-jmx-was" version="3.0">

    <display-name>TNT4J-Stream-JMX</display-name>
    <description>TNT4J Stream-JMX web servlet</description>

    <servlet>
        <servlet-name>StreamJmx</servlet-name>
        <servlet-class>com.jkoolcloud.tnt4j.stream.jmx.servlet.WASStreamJMXServlet</servlet-class>
        <load-on-startup>1</load-on-startup>

        <init-param>
            <param-name>com.jkoolcloud.tnt4j.stream.jmx.agent.vm</param-name>
            <param-value></param-value>
            <description>Sampled JVM descriptor: part of local process name/pid or RMI service URL</description>
        </init-param>
        <init-param>
            <param-name>com.jkoolcloud.tnt4j.stream.jmx.agent.options</param-name>
            <param-value>WebSphere:name=JVM,*;WebSphere:name=AriesThreadPool,*;WebSphere:mbeanIdentifier=cells*,*!!60000!0</param-value>
            <description>Sampler options separated by '!': include_pattern!exclude_pattern!sampling_rate_ms!initial_sampler_delay_ms
            </description>
        </init-param>
        <init-param>
            <param-name>com.jkoolcloud.tnt4j.stream.jmx.agent.excludedAttributes</param-name>
            <param-value>javaVersion,javaVendor@WebSphere:mbeanIdentifier=cells*,*</param-value>
            <description>Sampler list of user chosen attribute names (may have wildcards '*' and '?') to exclude, pattern:
                "attr1,attr2,...,attrN@MBean1_ObjectName;...;attr1,attr2,...,attrN@MBeanN_ObjectName"
            </description>
        </init-param>
        <init-param>
            <param-name>com.jkoolcloud.tnt4j.stream.jmx.tnt4j.out.host</param-name>
            <param-value>localhost</param-value>
            <description>Sampler tracking logger socket event sink host</description>
        </init-param>
        <init-param>
            <param-name>com.jkoolcloud.tnt4j.stream.jmx.tnt4j.out.port</param-name>
            <param-value>6001</param-value>
            <description>Sampler tracking logger socket event sink port</description>
        </init-param>
        <init-param>
            <param-name>com.jkoolcloud.tnt4j.stream.jmx.agent.user</param-name>
            <param-value></param-value>
            <description>Secure JMX username</description>
        </init-param>
        <init-param>
            <param-name>com.jkoolcloud.tnt4j.stream.jmx.agent.pass</param-name>
            <param-value></param-value>
            <description>Secure JMX password</description>
        </init-param>
        <init-param>
            <param-name>com.jkoolcloud.tnt4j.stream.jmx.agent.excludeOnError</param-name>
            <param-value>true</param-value>
            <description>Sampler flag indicating whether to auto-exclude failed to sample attributes</description>
        </init-param>
        <run-as>
            <role-name>StreamJmxManager</role-name>
        </run-as>
    </servlet>

    <servlet-mapping>
        <servlet-name>StreamJmx</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <display-name>TNT4J Stream-JMX configuration console</display-name>

        <web-resource-collection>
            <web-resource-name>Main servlet configuration page</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>

        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>

        <auth-constraint>
            <role-name>StreamJmxAdmin</role-name>
            <role-name>StreamJmxManager</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>default</realm-name>
    </login-config>

    <security-role>
        <role-name>StreamJmxAdmin</role-name>
    </security-role>
    <security-role>
        <role-name>StreamJmxManager</role-name>
    </security-role>
</web-app>
